.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 2rem; /* Ajuste o padding para telas menores */
}

.home-title {
    font-size: 6rem; /* Tamanho original */
    font-weight: 800;
    letter-spacing: -.04em;
    background-image: linear-gradient(90deg, var(--color-start), var(--color-end));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: normal; /* Permite quebra de linha */
    overflow: visible;
    display: inline-block;
    max-width: 90%; /* Altere para 90% para evitar corte em telas pequenas */
}

@media (max-width: 768px) {
    .home-title {
        font-size: 4rem; /* Diminui o tamanho da fonte para dispositivos móveis */
        max-width: 100%; /* Garante que o título não ultrapasse a largura do contêiner */
        padding: 1rem; /* Diminui o padding em telas menores */
    }
}

@media (max-width: 480px) {
    .home-title {
        font-size: 3rem; /* Diminui ainda mais para telas menores */
        padding: 0.5rem; /* Ajuste do padding */
    }
}

.sobre-content {
    display: flex;
    gap: 2rem; /* Diminui o espaço entre elementos */
    align-items: center;
    flex-direction: column; /* Para garantir que elementos não sejam cortados */
    text-align: center; /* Alinha o texto no centro */
}

@media (max-width: 1024px) {
    .sobre-content {
        flex-direction: column; /* Coloca itens em coluna para telas menores */
        gap: 1rem; /* Reduz o espaço entre os elementos */
    }

    .photo-perfil {
        width: 50%; /* Ajuste a largura da foto do perfil */
    }
}

@media (max-width: 480px) {
    .photo-perfil {
        display: none; /* Esconde a foto do perfil em telas muito pequenas */
    }

    .section-title {
        font-size: 2rem; /* Diminui ainda mais o tamanho da fonte do título */
    }
}
